<h1><big>Jacob Cummings</big></h1>
<a href=http://google.com>Google</a>
<ul>
	<li>Monday</li>
	<li>Tuesday</li>
	<li>Wednesday</li>
	<li>Thursday</li>
	<li>Friday</li>
	<li>Saturday</li>
	<li>Sunday</li>
</ul>
<ol type=”A”>
	<li>HTML</li>
	<li>XML</li>
	<li>XHTML</li>
</ol>
<h1>Tao-tzu</h1>
<blockquote>A journey of a thousand miles begins with a single step</blockquote>

