<head>
<title>Inline Styles></title>
</head>
<body>
<p style="background-color:#ffffff;color:#800000">This paragraph is using an inline style. 
Back white and text brown</p>
<p>Normal Text</p>
</body>
</html>