<head>
<title>Embedded Styles</title>
<style type="text/css">
	body {background-color:#eaeaea; color:#996600}
</style>
</head>
	<body>
		<h1>Embedded Styles</h1>
		<p>This page uses embedded styles.</p>
	</body>
</html>