<head>
	<title>External Styles</title>
	<link rel="stylesheet" href="task6.css"type=text/css/>
</head>
	<body>
		<p>This web page will be using a external style sheet and an id.</p>
		<p id="new">This is displaying the id in bold and italic</p>
	</body>
</html>