body 
{
	background-color: #666666;
}
ol
{
	/*text-align:center;*/
	color: #B3B3B3;
}
h1
{
	text-align: center;
	color: #B3B3B3;
}
nav
{
	color: #B3B3B3;
}
h2
{
	text-align: center;
	color: #B3B3B3;
}
p
{
	text-align: center;
	color: #B3B3B3;
}
a
{
	color: #B3B3B3;
}
img
{
	padding: 20px;
}
#sidebar 
{
	border-top: 5px solid #422124;
	border-left: 5px solid #422124;
	border-right: 5px solid #422124;
	border-bottom: 5px solid #422124;
	border-radius: 5px;
	height: 200px;
	width: 150px;
	float: left;
	margin-right: 5px;
	padding: 5px 0 0 5px;
}
#review-area
{
	border-top: 5px solid #422124;
	border-left: 5px solid #422124;
	border-right: 5px solid #422124;
	border-bottom: 5px solid #422124;
	border-radius: 5px;
	height: auto;
	width: 300px;
	padding:10px 0 0 10px;
}
#games-list
{
	border-top: 5px solid #422124;
	border-left: 5px solid #422124;
	border-right: 5px solid #422124;
	border-bottom: 5px solid #422124;
	border-radius: 5px;
	height: auto;
	width: 300px;
	padding:10px 0 0 10px;
}
ul#list-nav 
{
	list-style:none;
	margin:20px;
	padding:0;
	width:525px
}
ul#list-nav li 
{
	display:table-row
}
ul#list-nav li a 
{
	text-decoration:none;
	opacity:0.6;
	padding:5px 0;
	width:100px;
	background:#1b351b;
	color:#EEEEEE;
	float:left;
	text-align:center;
	border-left:1px solid #FFFFFF;
	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:1s,1s,1s,1s,1s,1s;
}
ul#list-nav li a:hover 
{
	background:#619A61;
	color:#000000;
	opacity:1;
}
dl#review
{
	text-align:center;
	color:#FFFFFF;
}
.left
{
	float:left
}
.clear:
{
	float:both
}
.animated_div
{
	width:60px;
	height:40px;
	background:#92B901;
	color:#ffffff;
	position:absolute;
	font-weight:bold;
	font-size:15px;
	padding:10px;
	float: right;
	margin:5px;
	-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	-webkit-border-radius:5px;
	-o-transition-property:width,height,-o-transform,background,font-size,opacity;
	-o-transition-duration:1s,1s,1s,1s,1s,1s;
	-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
	-moz-transition-duration:1s,1s,1s,1s,1s,1s;
	transition-property:width,height,transform,background,font-size,opacity;
	transition-duration:1s,1s,1s,1s,1s,1s;
	border-radius:5px;
	opacity:0.4;
}
.animated_div:hover
{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	opacity:1;
	background:#1ec7e6;
	width:90px;
	height:60px;
	font-size:30px;
}

#parent 
{
	/*text-align: center;*/
	white-space: nowrap;
	letter-spacing: 35px;
	line-height: 12px;
	overflow: hidden;
	width: 750px;
}

.child 
{
	width: 350px;
	height: 300px;
	display: inline-block;
	letter-spacing: normal;
	white-space: normal;
	vertical-align: middle;
}

.child 
{
	*display: inline;
	*margin: 0 20px 0 20px;
}
.child a
{
	float:right;
	padding:0 5px 0 0px;
}
ol#list-games a
{
	text-decoration:none
}
